.tab{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.tabUrl {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .tabLugar {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
.titulillo{
  text-align: none;
}
.urlStyle{
  background-size: 101px;
}
