/**************CAMBIO DE Contraseña**************************/
.imageFondoChangePassword{
    background-color: white;
    border: 2px solid black;
        
         padding: 10px;
         border-radius: 10px;
         text-align: center;
    }
    .containerChangePassword{
      background-image: url("../images/texture4.jpg");
      border: 2px solid black;
      padding: 20px;
      border-radius: 10px;
      text-align: center;

    } 
  
  /****************************************/
  